.modal-backdrop {
  background-color: rgba(255,255,255, 0.5);
}

.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  overflow-y: initial !important
}
.modal-body.form {
  height: 400px;
  overflow-y: auto;
}

.modal-body #content {
  height: 100%;
}

.disabled {
  pointer-events: none;
}

.selectize-control .title {
  display: block;
  color: #333;
  font-weight: bold;
}

.selectize-control .description {
  font-size: 10px;
  color: #888;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover, .bootstrap-datetimepicker-widget table td span:hover, .bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover {
  color: #333;
}